.container__return  {
  font-size: 40px;
  margin: 0 auto;
  text-decoration: none;

  cursor: pointer;
  padding: 10px;

  .link {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #3f51b5;
    }
  }

  i {
    font-size: 40px;
  }

}
