cdk-virtual-scroll-viewport {
  height: 600px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;

  &__quickSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);

    .content__table {
      overflow: auto;
    }

    .table {
      width: 100%;

      tr.hidden-detail {
        height: 0;
        min-height: initial;
      }

      tr.element-row:not(.expanded-row):hover {
        background-color: #e2e2e2;
        cursor: pointer;
      }

      tr.element-row:not(.expanded-row):active {
        background: #efefef;
      }

      tr.element-row, /* override mat-row styling */
      tr.element-row mat-cell {
        border-bottom-width: 0;
      }
    }
  }
}

